%turbo-frame{ data: { controller: 'simple-tree'}, "data-turbo-frame-target": 'frame', id: "tree-frame" }
  .tree_wrapper.hide-if-loading
    %ul.simpleTree
      %li.root
        %ul
          = draw_tree(@root, @concept.id, (params[:concept_schemes] || '').split(','))

