= turbo_frame_tag child_id(@concept)+'_childs' do 
  - output =""
  - for child in @children
    - output << tree_link_to_concept(child: child, ontology_acronym: child.explore.ontology.acronym, active_style: '', node: @concept)
    - if child.hasChildren
      - output << render(TurboFrameComponent.new(id:"#{child_id(child)}_childs"))
    - output << "</li>"
  = raw output
